@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* #### 전역-특성 #### */
* { background-repeat:no-repeat;  font-family:'Noto Sans KR', '맑은 고딕', '돋움' ; }
html { letter-spacing:0.8px }
body, div, form, pre, tr, td, textarea, table, input, select { margin:0; padding:0; }
img, a { border:0; }
img { max-width:100% !important; }
table { border-collapse:collapse; }
input, textarea, select { outline:none; -webkit-appearance:none; border-radius:0; }
textarea { resize: none; tab-size:4; }
input::-ms-clear { display: none; }
::selection { background:#000; color:#ddd; }
::-moz-selection { background:#000; color:#ddd; }
::placeholder { line-height:normal; }
::-webkit-input-placeholder { line-height:normal; }
:-ms-input-placeholder { line-height:normal; }
body { background:#fff; min-width:340px; }
.title { color:#fff; font-size:28px; font-weight:bold; padding:20px 0 20px; text-align: center; background: #51BD54 }
.bt-login {  border:0; color:#fff; background:#51BD54; text-align: center; margin:0 auto; font-size:20px; height:40px; line-height:40px; cursor:pointer; border-radius: 6px; }
.bt-login:hover { background:#216523; }
.err-out { color:#FF0039;  }

/* 접속중 */
#st-signIn { padding:50px 0; }
#st-signIn .retry { margin-top:70px; width:200px; }
#st-signIn .err-out { padding-top:12px; text-align: center; line-height: 1.8 }

/* 계정생성 */
#st-create { padding:0 20px; color:#333; }
#st-create .form-unit-mail { text-align: center; padding-top: 20px; color:#3243C7; font-size:20px; }
#st-create .form-desc-fb { margin:34px 14px; font-size:13px; line-height: 1.8 }
#st-create .err-out { padding-bottom: 12px; text-align: right; font-size: 11pt; }

/* 재인증 */
#st-seAuth { padding:50px 0; }
#st-seAuth .err-out { padding-top:12px; text-align: center; line-height: 1.8 }

/* 추가 */
#st-add { padding:50px 0; }
#st-add .err-out { padding-top:12px; text-align: center; line-height: 1.8 }

/* 기타 공용 */
input, select
{
	width:100%; border:0; height:40px; color:#333; transition:background .2s; font-size: 14px; box-sizing:border-box; line-height:100%;
}
input.tx { padding:0 10px; }
select { padding-left:10px; }
input.tx, select { background:#fff; border-radius:2px; border: 1px solid #B1B1B1; }
input.tx.err { background:#F9C6C6 !important; color:#c33; border-color:#E65C5C !important; }
input.tx:hover, select:hover { background:#B0CBE4 !important; border-color:#88B5E0 }
input.tx:focus, select:focus { background:#88B5E0 !important; border-color:#5B94C8 }
input.tx:focus { color:#fff; }
select:focus { color:#012; }
input.tx.err:focus,
input.tx.err:hover { background:#faa !important; }
input.bt { cursor:pointer; text-align: center; background:#51BD54; color:#fff; transition:background .2s; border-radius:2px; }
input.bt:hover,
input.bt:focus { background:#216523 !important; color:#fff; }
input.bt:active { background:#000; transition:background .0s; }
input.tx::placeholder { color:#aaa; }
input.tx::-webkit-input-placeholder { color:#aaa; }
input.tx:-ms-input-placeholder { color:#aaa; }
input.tx:focus::placeholder,
input.tx:hover::placeholder { color:#def; }
input.tx:focus::-webkit-input-placeholder,
input.tx:hover::-webkit-input-placeholder { color:#def; }
input.tx:focus:-ms-input-placeholder,
input.tx:hover:-ms-input-placeholder { color:#def; opacity:1; }
input.tx.err::placeholder { color:#faa; }
input.tx.err::-webkit-input-placeholder { color:#faa; }
input.tx.err:-ms-input-placeholder { color:#faa; }
.form-desc-date { text-align: right; font-size:12px; line-height: 1.5; padding-bottom:8px; }
.form-unit-date > div { display: inline-block; }
.form-unit-date > div.year-hold { width:38%; }
.form-unit-date > div.month-hold { width:30%; margin:0 1%; }
.form-unit-date > div.date-hold { width:30%; }
.form-pad { height:20px; }
